h2 {
    display: flex;
    justify-content: center;
    margin-left: -12px;
    margin-right: -12px;
}

h1 {
    padding-top: 15px;
    margin-left: -12px;
    margin-right: -12px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#btnConnexion {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

form {
    display: flex;
    justify-content: center;
}

#center {
    display: flex;
    justify-content: center;
}

span {
    font-size: 21px;
}

#deco {
    margin-top: 5px;
    margin-left: 9px;
    text-size: 10px;
}

#nomPiedDePage {
    display: flex;
    justify-content:center;
}

#topPage {
    margin-top: -10px;
}

.container-fluid {
    padding-top: 9px;
}